<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <div class='container-fluid main_header'>
        <div class='row'>
            <div class='col-md-10 co1-12 mx-auto'>
                <div class='row'>
                    <div class='col-md-6 col-12 main_header_left'>
                        <img src='https://i.pinimg.com/236x/fe/93/da/fe93daf366b9302df7f33100bfd182e3--cute-anime-guys-anime-boys.jpg' src='animeimg'>
                    </div>
                    <div class='col-md-6 col-12 main_header_right'>
                        <p>Welcome to <span class='weather'>weather </span>app</p>
                        <h1>I am a mern stack developer </h1>
                        <a href='https://www.youtube.com/channel/UCoKhP1nfN6pGRHTHhAX1kug?app=desktop'"><button class='check'>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
        {{>footer}}
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</body>
</html>